@import "reset-min.css";
@import "base-min.css";
@import "fonts-min.css";
@import "grids-min.css";
@import "redmond/jquery-ui-1.8.4.custom.css";

a{
	color:#0A315C;
	text-decoration:none;
}
a:hover{ 
  color: #8D5A0B; 
  text-decoration:underline;
  }

.errorMsg{
  color:red;
  font-weight:bold;
  margin-left:15px;
}

th.headerSortUp { 
    background-image: url(../images/asc.gif); 
    background-color: #3399FF;
    background-repeat:no-repeat; 
    background-position: center right;
} 

th.headerSortDown { 
    background-image: url(../images/desc.gif);
    background-repeat:no-repeat; 
    background-color: #3399FF;
    background-position: center right; 
} 

#jsddm
{ margin: 0;
  padding: 0}
  
  #jsddm li
  { float: left;
    list-style: none;
    font: 12px Tahoma, Arial}

  #jsddm li a
  { display: block;
    background: #20548E;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    width: 110px;
    color: #EAFFED;
    white-space: nowrap}

  #jsddm li a:hover
  { background: #1A4473}
    
    #jsddm li ul
    { margin: 0;
      padding: 0;
      position: absolute;
      visibility: hidden;
      border-top: 1px solid white}
    
    #jsddm li ul li
    { float: none;
      display: inline}
    
    #jsddm li ul li a
    { width: auto;
      background: #9F1B1B}
    
    #jsddm li ul li a:hover
    { background: #7F1616}
html{
background-image: url(../images/nybridge.gif);
background-attachment:fixed;
}

form * {margin:0;padding:0;} /* Standard margin and padding reset, normally done on the body */

legend {
  color:#000; /* IE styles legends with blue text by default */
  margin-left:15px; /* A hack that only ie reads to position the legend in the same place cross browser */
  margin-bottom:10px;
  font-size:18px;
  font-family: Tahoma, Arial, sans-serif;
  margin-top:5px;
}

fieldset {
  border:1px solid #666666; /* Default fieldset borders vary cross browser, so make them the same */
  width:675px;

}
fieldset div {
  overflow:hidden; /* Contain the floating elements */
  display:inline-block; /* Give layout in ie to contain float */
  margin: 5px 0 0 10px;
  padding: 1px 3px;
  
}
fieldset div {display:block;} /* Reset element back to block leaving layout in ie */
label {
  float:left; /* Take out of flow so the input starts at the same height */
  width:105px; /* Set a width so the inputs line up */
}

.hints {
display: none;
color:blue;
background-color:#CCCCCC;
padding: 5px; 
}

table td{
	border-color:#FFF;
	padding:10px;
	border-style:dashed;
	border-width:2px;
	font-size:15px;
	font-family: Arial;
}

h1{
font-family: Courier, Arial;
font-size:35px;
padding:0px;
margin:10px 0px 10px 0px;
}